---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header class="fixed top-0 left-0 right-0 z-50 py-5 bg-stone-200/75 dark:bg-gray-950/25 backdrop-blur-sm saturate-200">
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/#highlights">
          highlights
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/#experience">
          experience
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/#connect">
          connect
        </Link>
      </nav>
    </div>
  </Container>
</header>
